
/*collapse navbar-collapse" id="navbarSupportedContentVariables*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
*{
  font-family: sans-serif;
  }


  
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.foot{
  
  Background: #202020;
  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-top: 20px;

}


.heading_container h2 {
text-align: center;
padding-bottom: 10px;
}
a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

body {
  line-height: 28px;
  font-size: 15px;
  font-family:  sans-serif;
  font-weight: 500;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

#success {
  display: none;
}

#error {
  display: none;
}

.display_table {
  display: table;
  width: 100%;
}

.display_table_row {
  display: table-row;
}

.display_table_cell {
  display: table-cell;
  float: none !important;
}

.p_100 {
  padding: 100px 0px;
}

iframe {
  border: none;
}

i:before {
  margin-left: 0px !important;
}

/* Main title css
============================================================================================ */
.c_title {
  text-align: center;
  padding-bottom: 40px;
}

.c_title img {
  padding-bottom: 30px;
}

.c_title h6 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

.c_title h2 {
  font-size: 48px;
  color: #0b1033;
  font-family: sans-serif;
  font-weight: 500;
}

.l_title {
  padding-bottom: 55px;
}

.l_title img {
  padding-bottom: 30px;
}

.l_title h6 {
  font-size: 14px;
  font-family:  sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

.l_title h2 {
  font-size: 48px;
  color: #0b1033;
  font-family: sans-serif;
  font-weight: 500;
}

.l_title h2 span {
  font-style: sans-serif;
  color: #6fbbfe;
}

/* Main title css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Main Menu Area css
============================================================================================ */
.main_menu_area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 10;
  padding: 0px 45px;
  background: rgba(12, 12, 12, 60%);
  height: 100px;
}
.navbar-brand a{
  margin-top: 0px;

}

.main_menu_area .navbar {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent !important;
  height: 100px;
  width: 100%;
  
}

.main_menu_area .navbar .navbar-toggler {
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.main_menu_area .navbar .navbar-toggler span {
  height: 3px;
  width: 25px;
  display: block;
  background: #354c54;
  margin-bottom: 3px;
}

.main_menu_area .navbar .navbar-toggler span:last-child {
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-collapse {
    text-align: right;
    display: block !important;
  }
}

.main_menu_area .navbar .navbar-nav {
  display: inline-block;
  text-align: right;
}

.main_menu_area .navbar .navbar-nav li {
  display: inline-block;
  margin-right: 55px;
}

.main_menu_area .navbar .navbar-nav li a {
  font-size: 19px;
  font-family: sans-serif ;
  font-weight: bold;
  text-transform: uppercase;
  color:#ed155d;
  letter-spacing: .65px;
  padding: 0px;
  line-height: 118px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.main_menu_area .navbar .navbar-nav li:last-child {
  margin-right: 0px;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    min-width: 250px;
    background: #171717;
    left: auto;
    right: 0px;
    top: 90%;
    border-radius: 0px;
    border: none;
    padding: 30px 0px 30px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: hidden;
  }
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
  display: block;
  line-height: 38px;
  color: #fff;
  font-family:  sans-serif;
  letter-spacing: .48px;
  font-size: 16px;
  padding: 0px 30px;
  text-transform: inherit;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  font-weight: normal;
  text-shadow: none;
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li:hover a {
  color: #97ccfe;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-nav li:hover.submenu .dropdown-menu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
  }
}

.main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a {
  color:#ed155d;
}

.main_menu_area.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 75%);
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  z-index: 999999;
}

.main_menu_area.navbar_fixed .navbar .navbar-nav li a {
  line-height: 70px;
}



.about_section .box .img-box img {
  max-width: 100%;
  padding-top: 30px;
}

.about_section .box .detail-box {
  margin-top: 25px;
}

.about_section .box .detail-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #151615;
  border: 1px solid #151615;
  color: #ffffff;
  margin-top: 15px;
}

.about_section .box .detail-box a:hover {
  background-color: transparent;
  color: #151615;
}
/* Carousel */
.contenedor-columnas{
	width: 100%;
	margin: auto;
	margin-bottom: 50px; 

}

.heading_container h1{

padding-bottom: 10px;
padding-top:10px;
}

.contenedor-columnas h1{
  padding-bottom: 10px;
  padding-top:10px;

}
.columnax3{
	width:25%;
	float: 	center;	
	text-align: center;
	padding: 20px 20px;
	box-sizing: border-box;
	margin: auto;

}
.columnax3 imagen.img{
	width: 100%;
}
.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;
}

.client_section .box .img-box {
  width: 200px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 25px;
}

.client_section .box .detail-box h5 {
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

.client_section .box .detail-box h5::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background-color: #9e2b59;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.client_section .carousel-indicators {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.client_section .carousel-indicators li {
  opacity: 1;
  background-color: #000000;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-clip: unset;
  border: none;
}

.client_section .carousel-indicators li.active {
  background-color: #fb0c5c;
}

.result_section {
  color: #ffffff;
  background-color: #3c0e78;
}
body {

	margin: 0;
	font-family: sans-serif;
}

h1 {
	color: #ed155d;
	text-align: center;
}

h2 {
	color: ·#425270;
	text-align: center;
}

/*Estilos de la galeria*/

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 150px;
	height: 100px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen {
	width: 100%;
	height: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a {
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 800px;
  
}

.colum1 h1{
  font-size: 22px;
  color: #C7C7C7;
  margin-bottom: 40px;
}
.row1 img{
  width: 62px;
  height: 72px;
}

.colum2{
  max-width: 400px;
  
}

.colum2 h1{
  font-size: 22px;
  color: #C7C7C7;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
  color: #C7C7C7;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
  color: #C7C7C7;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}
@media only screen and (max-width:1165px){

.columnax3{
	width: 100%;
}
.contenedor-columnas{
		flex-direction: column;
	}
	.imagen{
		width: 100%;
	
	}
	.columnax3{
		width: 100%;

  }
}
